
.warner{
    background: #FFE4E6;
    border-radius: 4px;
    box-sizing: border-box;
    color: rgba(225, 29, 72, 1);
    font-weight: 500;
    align-items: center;
    justify-content: center;
    padding: 7px 15px;

    svg{
        font-size: 22px;
        margin-right: 10px;
    }
}